<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<link href=" https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css " rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<title th:text="${titulo}"></title>
</head>
<body>
	
	<div class="container mt-5">
	
		<h2 th:text="${titulo}" class="pb-2"></h2>
	
		<table class="table">
		
		  <thead>
		  	<tr>
		    	<th scope="col">#</th>
		    	<th scope="col">Apto</th>
		    	<th scope="col">Caballos</th>
		    	<th scope="col">Color</th>
		    	<th scope="col">Coincidencias</th>
		    </tr>
		  </thead>
		  
		  <tbody>
		  	<tr th:each="coche, iterador : ${listado}">
		    	<th th:text="${iterador.index + 1}" scope="row"></th>
		    	<td th:text="${coche.apto == true ? 'Coche apto' : 'X'}"></td>
		    	<td class="font-weight-bold">
		      		<span th:if="${coche.caballos > 150}" th:text="${coche.caballos}"></span>
		      		<span th:unless="${coche.caballos gt 150}">X</span>
		    	</td>
		    	<td>
		    		<span th:if="${coche.color != 'Blanco'}" th:text="X"></span>
		    		<span th:unless="${coche.color != 'Blanco'}" th:text="${coche.color}"></span>
		    	</td>
		    	<td th:if="${coche.apto} and ${coche.caballos > 150} and not ${coche.color != 'Blanco'}"><strong>¡Este coche es todo lo que buscas!</strong></td>
		    </tr>
		  </tbody>
		  
		</table>
		
	</div>

	<script src=" https://cdn.jsdelivr.net/npm/@popperjs/core " integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
	<script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js " integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>